
.aboutBox{
  text-align: center;
  justify-self: center;
  width: 60cqw;
  height: auto;
  border: 4px black solid;
  margin: 3cqh;
}

.imageBox {
  height: 100%;

  border: 2px black solid;
  height: 50cqh;
  
}

.contactBox {

  height: 100%;
  height: 50cqh;
  align-content: center;
  justify-content: center;
  /* text-align: center; */
 
}
.bioBox{
   height: 50cqh;
  
   margin-top: 3cqh;

}

.card {
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.badge {
  font-weight: 500;
}