
.aboutBox{
  text-align: center;
  justify-self: center;
  width: 60cqw;
  height: auto;
  border: 4px black solid;
  margin: 3cqh;
}

.imageBox {
  height: 100%;

  border: 2px black solid;
  height: 50cqh;
  
}

.contactBox {

  height: 100%;
  height: 50cqh;
  
 
}
.bioBox{
   height: 50cqh;
  
   margin-top: 3cqh;

}
